/* TODO: Come back and make a dark/light mode switch */

body {
  background-color: #101010;
  color: #ffffff;
  /* background-image: url("./images/bg-right.jpg"), url("./images/grass.jpg");
  background-position: right top, left bottom;
  background-repeat: repeat-y, no-repeat;
  background-size: auto, 100%; */

}

#leftbox {
    float: left; 
    width: 35%; 
    height: 500px; 
}

#midbox {
    float: left;
    width: 15%;
    height: 500;
}

#rightbox {
    float: right;
    width: 50%;
    height: 500px;
}

#content {
  /* margin-left: auto;
  margin-right: auto; */
  width: 650px;
}

#banner {
  background-color: #101010; 
  color: #ffffff;
}

#banner h1 {
  margin:0;
  padding:0; 
  font-family:'Brush Script MT'; 
  font-size:80px;
}

#banner h2 {
  margin:0;
  padding:0;
}

#greeting-container {
  margin-top: 20px;
}

#message-container {
  margin-top: 20px;
}

#task-list {
    list-style-type: none;
}